/* autoprefixer: off */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Bloc_page {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  font-family: 'Roboto', sans-serif;
}

.Police {
  font-family: 'Shrikhand', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1, h2, h4 {
  cursor: default;
}

.Formulaire__bouton {
  height: 50px;
  min-width: 200px;
  max-width: 220px;
}

.Formulaire__bouton:hover, .Formulaire__bouton2:hover {
  cursor: pointer;
  filter: brightness(105%);
  box-shadow: 2px 2px 4px 1px #726f6f;
}

.Formulaire__bouton2 {
  padding: 10px 0 10px 0;
  min-width: 140px;
  max-width: 160px;
}

.Formulaire__bouton, .Formulaire__bouton2 {
  color: white;
  font-size: 95%;
  width: 60%;
  border: 0px;
  border-radius: 30px;
  text-align: center;
  align-self: center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 1px 4px 1px #9b9a9a;
}

.Invisible {
  color: #FF79DA;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}

.Visible {
  margin-right: -30px;
}

.Visible2 {
  margin-right: -24px;
}

.Coeur:hover {
  cursor: pointer;
}

.Coeur:hover .Visible, .Coeur:hover .Visible2 {
  opacity: 0%;
}

.Coeur:hover .Invisible {
  opacity: 100%;
}

header {
  box-shadow: 0px 2px 2px -2px #9b9a9a;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 1.5em 0 0.8em 0;
}

header .Case_fleche {
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #585353;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 42%;
}

header .Logo {
  width: 40%;
  max-width: 300px;
}

header .Logo .Logo__image {
  width: 100%;
  height: auto;
}

footer {
  background-color: #272626;
  color: white;
  padding: 2em 0 2em 0;
}

footer .Police {
  padding-left: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

footer .Bas {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

footer .Bas li {
  margin-top: 0.5em;
}

footer .Bas li .fa-utensils {
  font-size: 0.8em;
  margin-right: 10px;
}

footer .Bas li .fa-hands-helping {
  font-size: 0.65em;
  margin-right: 8px;
}

footer .Bas li .Infos {
  margin-right: 1em;
}

.Image_carte {
  width: 100%;
  max-height: 60vw;
  position: absolute;
  display: flex;
  justify-content: center;
}

.Image_carte .Image_carte2 {
  width: 100%;
  object-fit: cover;
}

.Page_Restaurant {
  position: relative;
  display: flex;
  justify-content: center;
}

.Carte {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 1;
  margin-top: 50vw;
}

@media (min-width: 1100px) {
  .Carte .Carte_plats {
    display: flex;
    flex-direction: row;
  }
}

.Carte .Carte__titre {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  margin-top: 20px;
}

.Carte .Carte__titre h1 {
  margin-right: 20px;
}

.Carte a {
  align-self: center;
  margin: 20px 0 20px 0;
}

.Carte .Carte__choix {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.Carte .Carte__choix h4 {
  width: 40px;
  overflow: visible;
  color: #353535;
  font-weight: 400;
  border-bottom: 2px #99E2D0 solid;
  margin: 0 0 5px 15px;
}

.Carte .Carte__choix .Plats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 1050px) {
  .Carte .Carte__choix .Plats {
    width: 90%;
  }
}

.Carte .Carte__choix .Plats .Choix {
  display: flex;
  overflow: hidden;
  background-color: white;
  margin: 10px 0 10px 0;
  width: 94%;
  max-width: 350px;
  align-self: center;
  border-radius: 15px;
  box-shadow: 0px 0px 4px #9b9a9a;
  cursor: pointer;
}

@media (min-width: 1050px) {
  .Carte .Carte__choix .Plats .Choix {
    width: 350px;
  }
}

.Carte .Carte__choix .Plats .Choix .Texte_menu {
  width: 85%;
  font-size: 15px;
  margin: 10px 0 10px 10px;
}

.Carte .Carte__choix .Plats .Choix .Prix {
  width: 15%;
  align-self: center;
}

.Carte .Carte__choix .Plats .Choix .Icone_selection {
  width: 0%;
  border-radius: 0 15px 15px 0;
  color: white;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.Choix:hover {
  transform: scale(1.05);
}

nav {
  display: flex;
  flex-direction: column;
}

nav .Formulaire__icone_recherche {
  display: flex;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  justify-content: center;
}

nav .Formulaire__icone_recherche input {
  border: 0px;
  background-color: #eaeaea;
}

nav .Formulaire__icone_recherche i {
  color: #353535;
  align-self: center;
  font-size: larger;
  margin: 0 18px 5px 0;
}

nav .Formulaire__icone_recherche ::placeholder {
  color: #424141;
  font-size: larger;
  font-weight: bold;
}

nav .Formulaire__icone_recherche input:focus, nav .Formulaire__icone_recherche textarea:focus, nav .Formulaire__icone_recherche select:focus {
  outline: none;
}

nav .Formulaire__icone_recherche input[type="search"]::-webkit-search-decoration,
nav .Formulaire__icone_recherche input[type="search"]::-webkit-search-cancel-button,
nav .Formulaire__icone_recherche input[type="search"]::-webkit-search-results-button,
nav .Formulaire__icone_recherche input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

nav .Formulaire__texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 20px 0 40px 0;
}

nav .Formulaire__texte h1, nav .Formulaire__texte p {
  text-align: center;
  align-self: center;
  margin: 5px 0 5px 0;
  cursor: default;
}

nav .Formulaire__texte h1 {
  width: 75%;
}

nav .Formulaire__texte p {
  width: 80%;
  margin-bottom: 20px;
  color: #424141;
}

.Restaurant_section {
  background-color: whitesmoke;
  width: 100%;
  margin-top: 2em;
  padding-bottom: 4em;
}

.Restaurant_section h2 {
  font-weight: bold;
  margin: 1.5em 0 0.5em 1em;
}

.Restaurant_section .Restaurant__liste {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Restaurant_section .Restaurant__liste .Lien_restaurant {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 4px #9b9a9a;
  height: 250px;
  width: 90%;
  max-width: 490px;
  margin: 20px;
  display: flex;
  justify-content: end;
}

.Restaurant_section .Restaurant__liste .Lien_restaurant .Nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
  padding: 0.5em;
  margin: 1em 1em 0 0;
}

.Restaurant_section .Restaurant__liste .Lien_restaurant .Restaurant {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 0px 4px #9b9a9a;
  height: 250px;
  width: 100%;
}

.Restaurant_section .Restaurant__liste .Lien_restaurant .Restaurant .Image_restaurant {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.Restaurant_section .Restaurant__liste .Lien_restaurant .Restaurant .Legende {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em 0 1em;
}

.Restaurant_section .Restaurant__liste .Lien_restaurant .Restaurant .Legende .Restaurant__texte {
  font-size: 1.1em;
}

.Restaurant_section .Restaurant__liste .Lien_restaurant .Restaurant .Legende .Coeur {
  font-size: 1.5em;
  margin-top: 0.3em;
}

.Lien_restaurant:hover {
  transform: scale(1.05);
}

.Fonctionnement {
  margin: 1.5em 0 1.5em 0;
  width: 100%;
}

.Fonctionnement h2 {
  margin: 0 0 1em 1em;
}

.Fonctionnement .Fonctionnement__tableau {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.Fonctionnement .Fonctionnement__tableau .Tableau__case {
  display: flex;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 4px #9b9a9a;
  background-color: #f6f6f6;
  width: 90%;
  max-width: 350px;
  margin: 0.7em auto 0.7em auto;
}

.Fonctionnement .Fonctionnement__tableau .Tableau__case .Case__chiffre {
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.Fonctionnement .Fonctionnement__tableau .Tableau__case .Case__signe_texte {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 1em 0 1em 2em;
}

.Fonctionnement .Fonctionnement__tableau .Tableau__case .Case__signe_texte .Signe {
  color: #7e7e7e;
  margin-right: 1.2em;
  font-size: larger;
}

.Fonctionnement .Fonctionnement__tableau .Tableau__case:hover {
  background-color: #f5edff;
  cursor: default;
}

.Fonctionnement .Fonctionnement__tableau .Tableau__case:hover .Signe {
  color: #9356DC;
}
/*# sourceMappingURL=style.css.map */