.Image_carte {
    width: 100%;
    max-height: 70vw;
    position: absolute;
    @extend .Flex_center;
        .Image_carte2
        {
            width: 100%;
            object-fit: cover;
            @media (min-width: 1050px)
            {
                max-height: 450px;
            }
        }
}

.Page_Restaurant {
    position: relative;
    @extend .Flex_center;
}

.Carte {
    @extend .Flex_colonne;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1;
    margin-top: 60vw;
    @media (min-width: 1050px) {
            margin-top: 400px;
        }
        .Carte_plats {
            @media (min-width: 1050px) {
                display: flex;
                flex-direction: row;
                min-height: 400px;
            }
        }
        .Carte__titre {
            @extend .Flex_center;
            align-items: center;
            font-size: larger;
            font-weight: 500;
            margin: 30px 0 30px 0;
                h1 {
                    margin-right: 20px;
                }
        }
        a {
            align-self: center;
            margin: 20px 0 20px 0;
        }
        .Carte__choix {
            @extend .Flex_colonne;
            width: 100%;
                h4 {
                    width: 40px;
                    overflow: visible;
                    color: #353535;
                    font-weight: 400;
                    border-bottom: 2px $Tertiaire solid;
                    margin: 0 0 5px 15px;
                }
                .Plats {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    height: 100%;
                        .Choix {
                            display: flex;
                            overflow: hidden;
                            background-color: white;
                            margin: 10px 0 10px 0;
                            padding: 10px 0 10px 10px;
                            width: 95%;
                            max-width: 350px;
                            align-self: center;
                            border-radius: 15px;
                            @include Ombre;
                            cursor: pointer;
                            opacity: 0;
                            @media (min-width: 1050px) {
                                width: 350px;
                            }
                                .Texte_menu {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-size: 15px;
                                    flex: 1;
                                    @media (max-width: 375px) {
                                        font-size: 12px;
                                    }
                                        .Texte_menu_petit {
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }
                                }
                                .Prix {
                                    align-self: center;
                                    margin: 17px 10px 0 0;
                                }
                                .Icone_selection {
                                    width: 50px;
                                    margin: -10px -50px -10px 0px;
                                    color: white;
                                    background-color: $Tertiaire;
                                    @extend .Flex_center;
                                    align-items: center;
                                    font-size: larger;   
                                }
                        }
                }
        }
}

.Choix1, .Choix2, .Choix3, .Choix4 {
    animation: Choix 1400ms;
    animation-fill-mode: both;
}

.Choix1 {
    animation-delay: 0.2s;
}

.Choix2 {
    animation-delay: 0.4s;
}

.Choix3 {
    animation-delay: 0.6s;
}

.Choix4 {
    animation-delay: 0.8s;
}

@keyframes Choix {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.Choix:hover .Confirmation {
    animation: Rotation 0.8s;
    animation-fill-mode: both;
}

@keyframes Rotation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.Choix:hover .Icone_selection {
    animation: Decalage 0.8s;
    animation-fill-mode: both;
}

@keyframes Decalage {
    0% {
        margin-right: -50px;
    }
    100% {
        margin-right: 0px;
    }
}
