nav
{
    display: flex;
    flex-direction: column;
        .Formulaire__icone_recherche
        {
            display: flex;
            background-color: #eaeaea ;
            width: 100%;
            height: 50px;
            justify-content: center;
                input
                {
                    border: 0px;
                    background-color: #eaeaea;
                }
                i
                {
                    color: #353535;
                    align-self: center;
                    font-size: larger;
                    margin: 0 18px 5px 0;
                }
                ::placeholder
                {
                    color: #424141;
                    font-size: larger;
                    font-weight: bold;
                }
                input:focus, textarea:focus, select:focus
                {
                    outline: none;
                }
                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-results-button,
                input[type="search"]::-webkit-search-results-decoration 
                { 
                    display: none; 
                }
        }
        .Formulaire__texte
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #f6f6f6;
            padding: 20px 0 40px 0;
                h1, p
                {
                    text-align: center;
                    align-self: center;
                    margin: 5px 0 5px 0;
                }
                h1
                {
                    width: 75%;
                }
                p
                {
                    width: 80%;
                    margin-bottom: 20px;
                    color: #424141;
                }
                
        }
}