header {
   box-shadow: 0px 2px 2px -2px  rgb(155, 154, 154);
   @extend .Flex_center;
   width: 100%;
   position: relative;
   z-index: 1;
   padding: 1.5em 0 0.8em 0;
    .Case_fleche {
        width: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(88, 83, 83);
        align-items: center;
        position: absolute;
        left: 20px;
        top: 42%;
    }
    .Logo {
    width: 40%;
    max-width: 300px;
        .Logo__image {
            width: 100%;
            height: auto;
        }
    }
    

}