/* autoprefixer: off */
*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Bloc_page
{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
