/* autoprefixer: off */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Bloc_page {
    max-width: 1340px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.Accueil {
    opacity: 0;
    animation-fill-mode: both;
}

.Chargement {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -75px 0 0 -75px;
    border: 15px solid $Primaire;
    border-radius: 50%;
    border-top: 15px solid $Secondaire;
    animation: Chargement 2s linear;
    animation-fill-mode: both;
    animation-duration: 2s;
}

@keyframes Chargement {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

.Accueil {
    position: relative;
    animation-name: Bloc_page;
    animation-duration: 5s;
}

@keyframes Bloc_page {
    from{ opacity:0 } 
    to{ bottom:0; opacity:1 }
}

